{% set lookup = salt['grains.filter_by'](
  {
    'FreeBSD': {
      'bin_path': '/usr/local/bin',
      'rc_path': '/usr/local/etc/rc.d',
      'service': 'consul_exporter',
      'consul_service_path': '/usr/local/etc/consul.d',
    },
  },
  grain='os_family',
  merge=salt['pillar.get']('consul:lookup'),
  default='unset'
) %}
